form input[type="email"] {
    background: url("../../public/images/common/mail-grey.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}

form input[type="email"]:focus {
    background: url("../../public/images/common/mail-blue.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}

form input[name="phone"] {
    background: url("../../public/images/common/phone-grey.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}

form input[name="phone"]:focus {
    background: url("../../public/images/common/phone-blue.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}

form input[type="password"] {
    background: url("../../public/images/common/lock-grey.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}

form input[type="password"]:focus {
    background: url("../../public/images/common/lock-blue.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}

form input[name="verifyCode"] {
    background: url("../../public/images/common/verify-grey.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}

form input[name="verifyCode"]:focus {
    background: url("../../public/images/common/verify-blue.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}

form input[name="username"] {
    background: url("../../public/images/common/user-grey.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}

form input[name="username"]:focus {
    background: url("../../public/images/common/user-blue.svg") no-repeat 5px center;
    background-size: 25px 25px;
    background-color: white;
    padding-left: 35px;
}
